header {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: whitesmoke;
    border-top: 3px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

html {
    background-image: url(./images/bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: whitesmoke;

}

#wrapper {
    margin: auto;
    width: 80%;
    border-left: 3px solid red;
    border-right: 3px solid red;
    padding: 10px;
    background-color: whitesmoke;

}

#nav {
    background: red;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    text-align: center;
}

nav ul  {
    list-style-type: none;
}

nav li {
    display: inline;
}
nav ul a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: BLACK;
    background-color: #666;
    padding: 0 5px;
    text-transform: uppercase;
}

li.active {
        border-bottom-style: solid;
        border-color: darkorange;
        background-color: #666;
        padding: 0 5px;
        color: white;
}
     
     
footer {
    background-color: grey;
    color: white;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: auto;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

#original {
    color: crimson;
    font-style: italic;
    text-decoration: underline;
}

#authors-note {
    font-size: small;
}

#container {
    background-color: whitesmoke;
    text-decoration: none;
}

#container {
text-align: center;
}

h3.arch {
text-align: left;
color: red;
}

h3.intro {
color:red;
text-align: center;
}

h1.intro {
    color:red;
    text-align: center;
    }

.cimlapszoveg
{
    text-align: left;
}

.elso
{
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}


input[type=text], select, textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=password] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .justify-content-center {

    background-color: white;
  }

  .col-sm-8 {

    background-color: white;
  }

  .col-sm-4 {
    background-color: white;
  }