#nav {
    background: red;
    padding: 5px 0;
}
#menu-list ul {
    list-style-type: none;
}
#menu-list li {
    display: inline;
}
nav ul a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}
.active{
    color: darkorange;
}