header {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: whitesmoke;
    border-top: 3px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

html {
    background-image: url(./images/bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: whitesmoke;

}

#motto {
    font-size: small;
}

#wrapper {
    margin: auto;
    width: 80%;
    border-left: 3px solid red;
    border-right: 3px solid red;
    padding: 10px;
    background-color: whitesmoke;

}

#nav {
    background: red;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

nav ul a {
    text-decoration: none;
    color: white !important;
    padding: 0 5px;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: white !important;
    background-color: #666 !important;
    transition: 0.9s;
    text-transform: uppercase;
}

.nav-menu a:hover:after {
    transform: translateX(-50%) scaleX(1);
}

.nav-menu a:after {
    transform: translateX(-50%) scaleX(0);
    transition: transform 250ms;
}

.active {
    border-bottom-style: solid !important;
    border-color: dodgerblue !important;
    background-color: #666 !important;
    color: black;
}

footer {
    background-color: grey;
    color: white;
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: auto;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
}

.origbtn {
    font-size: smaller;
}

#original {
    color: crimson;
    font-style: italic;
    text-decoration: underline;
}

#authors-note {
    font-size: small;
}

#container {
    background-color: whitesmoke;
    text-decoration: none;
}

#container {
    text-align: center;
}

h3.arch {
    text-align: left;
    color: red;
}

h3.intro {
    color: red;
    text-align: center;
}

h1.intro {
    color: red;
    text-align: center;
}

.cimlapszoveg {
    text-align: left;
}

.elso {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

input[type=text],
select,
textarea {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.justify-content-center {
    background-color: white;
}

.col-sm-8 {
    background-color: white;
}

.col-sm-4 {
    background-color: white;
}